@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import '../../node_modules/normalize.css/normalize.css';

@import 'variables';
@import 'blockquotes';
@import 'code';
@import 'nav';
@import 'main';
@import 'footer';

/* @import 'mobile-menu'; */
/* Under mina övriga imports */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}
/* Resten av min stylesheet */

body {
    background-color: $background-color;
    overflow-x: hidden;
}

* {
    color: $font-color;
}
